<div class="plugin cmsplugin-youtube width-50">
    {% if object.title %}
    <h3 class="bar-heading">{{ object.title }}<span class="bar-heading-end"></span></h3>
    {% endif %}
    <div class="youtube-plugin-container">
        <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/{{ object.video_id }}?html5=1&autoplay={{ object.autoplay|yesno:"1,0" }}&fs={{ object.allow_fullscreen|yesno:"1,0" }}&loop={{ object.loop|yesno:"1,0" }}&rel={{ object.display_related_videos|yesno:"1,0" }}"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>
</div>
